.container {
    display: flex;
    flex-direction: column;
}
.subContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerBody {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    min-height: 100vh;
    background-color: #141414;
    /* border-radius: 10px; */
    margin-top: -10px;
    color: #707070;
}

.content {
    flex: 4;
    padding: 20px 70px 0px 20px;
}

.header {
    font-size: xx-large;
}
.summaryContainer {
    display: flex;
    gap: 15px;
}
.secondSummaryContainer {
    display: flex;
    gap: 20px;
}
.thirdSummaryContainer{
    display: flex;
}
.boxSummaryItem {
    flex: auto;
}
.chartItem {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    background-color: #141414;
    border: 2px solid #4a5565;
    border-radius: 7px;
    gap: calc(var(--spacing) * 4);
}
.chartInner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 7px;
}
.tableItem {
    flex: 2;
    padding: 20px;
    background-color: #141414;
    border: 2px solid #4a5565;
    border-radius: 7px;
}